YII_DEBUG=true
YII_ENV=dev

# Docker
APP_CONTAINER_NAME=
WEBSERVER_CONTAINER_NAME=
DB_CONTAINER_NAME=
ADMINER_CONTAINER_NAME=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_ROOT_PASSWORD=

BMKG_PELABUHAN_META_URL=https://maritim.bmkg.go.id/marine2026-data/meta/pelabuhan.json